nav.navbar.navbar-transparent.navbar-fixed-top.navbar-color-on-scroll
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-index')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='#')
        .logo-container
          .logo
            img(src='img/logo.png')
          .brand
            | Longest Story
    #navigation-index.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='../RoundRobinUI/story-page.html')
            | Contribute
        li
          a(href='#')
            | Count Down
        li
          a(href='../RoundRobinUI/examples/signup-page.html')
            | Sign Up
        li
          a(href='#')
            | About Us
        li
          a.btn.btn-white.btn-simple.btn-just-icon(rel='tooltip', title='Follow us on Twitter', data-placement='bottom', href='https://twitter.com/CreativeTim', target='_blank')
            i.fa.fa-twitter
        li
          a.btn.btn-white.btn-simple.btn-just-icon(rel='tooltip', title='Like us on Facebook', data-placement='bottom', href='https://www.facebook.com/CreativeTim', target='_blank')
            i.fa.fa-facebook-square
        li
          a.btn.btn-white.btn-simple.btn-just-icon(rel='tooltip', title='Follow us on Instagram', data-placement='bottom', href='https://www.instagram.com/CreativeTimOfficial', target='_blank')
            i.fa.fa-instagram
