/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
  background-image: url("../img/space-new.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.navigation-bar {
  /*opacity: 0.8;*/
}

.brand-logo {
  /*height: 50%;*/
  width: 45%;
  margin-top: 0.7%;
  margin-left: 1%;
}

.logo-home {
  width: 10%;
  margin-top: -5%;
}

.home-description {
  margin-top: 2%;
}

.header-welcome {
  color: #fdf2df;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 36px;
  text-align: center;
}

.home-text{
  z-index: 1;
  padding: 0;
  margin-bottom: 0%;
  margin-top: 2%;
  position: relative;
}

.home-button {
  background-color: #f2dec2;
  color: black;
}

.cloud-stuff{
  text-align: center;
  padding: 0;
  z-index: 0;
  margin-top: -45%;
  position: absolute;
}

.rocket-stuff{
  text-align: center;
  padding: 0;
  z-index: -3;
  margin-top: -50%;
  position: absolute;
}

.background-clouds {
  width: 120%;
  margin-left: -8%;
  /*height: 100%;*/
  /*z-index: -1;*/
 /* position:fixed;*/
}

.background-rocket {
  width: 120%;
  margin-left: -20%;
  /*height: 100%;*/
  /*z-index: -1;*/
 /* position:fixed;*/
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ffffff;
}

.signIn-description{
  color: #ffffff;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

#user_name{
  text-align: center;
  color: #ffffff;
}


.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 800px;
  overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
/* .messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
} */
.messages .message.right .avatar {
  background-color: #9c27b0;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #9c27b0;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #9c27b0;
}
.messages .message.right .text {
  color: #FFFFFF;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}
