<nav class="navigation-bar">
    <div class="nav-wrapper" style="background-color:#12151b">
      <a href="#" class="brand-logo"><img src="img/robin.png" class="brand-logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <br>
  <div class="section no-pad-bot" id="index-banner">

      <br><br>
      <h1 class="header center"><img src="img/robin-small.png" class="logo-home"></h1>
      <p class="header-welcome">Welcome to the World's Longest Story</p>
      <div class="home-text">
        <div class="row center">
        <h5 class="header col s12 light home-description">We are creating a single story authored by individuals<br> across borders,&nbspoceans and continents.</h5>
      </div>
      <div class="row center">
        <a ng-click="signup()" id="download-button" class="waves-effect waves btn home-button">Sign Up</a>
      </div>
      <br>
      <div class="row center">
        <a href="#" id="download-button" class="waves-effect waves btn-flat">To the Story</a>
      </div>
    </div>
      <div class="cloud-stuff">
        <ul id="scene" class="scene">
          <li class="layer" data-depth="0.20"><img src="img/clouds-top.png" class="background-clouds"></li>
          <li class="layer" data-depth-x="-0.20" data-depth-y="-0.20"><img src="img/clouds-middle.png" class="background-clouds"></li>
          <li class="layer" data-depth="0.40" data-depth-y="-0.30"><img src="img/clouds-bottom.png" class="background-clouds"></li>
          <li class="layer" data-depth="0.50"><img src="img/moon.png" class="background-clouds"></li>
        </ul>
      </div>


  </div>