<!-- <div class="row white">
	<div class="col s12">
		<h6 class="grey-text text-darken-1 center-align"> World's Longest Story </h6>
	</div>
</div> -->

<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
        <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	    	<a href="#">
	        	<div class="logo-container">
	                <div class="logo">
	                    <img src="assets/img/logo.png">
	                </div>
	                <div class="brand">
	                    Longest Story
	                </div>


				</div>
	      	</a>
	    </div>

	    <div class="collapse navbar-collapse" id="navigation-index">
	    	<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="../RoundRobinUI/story-page.html">
							Contribute
						</a>
					</li>
					<li>
						<a href="#">
							Count Down
						</a>
					</li>
					<li>
							<a href="../RoundRobinUI/examples/signup-page.html">
								Sign Up	
							</a>
						</li>
					<li>
						<a href="#">
							About Us
						</a>
					</li>
				<li>
					<a rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-facebook-square"></i>
					</a>
				</li>
				<li>
					<a rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						<i class="fa fa-instagram"></i>
					</a>
				</li>

	    	</ul>
	    </div>
	</div>
</nav>

<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<!-- Tabs on Plain Card -->
		<div class="card card-nav-tabs">
			<div class="header header-primary">
				<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<ul class="nav nav-tabs" data-tabs="tabs">
							<li class="active">
								<a href="#story" data-toggle="tab">Story</a>
							</li>
							<li>
								<a href="#queue" data-toggle="tab">Writer Queue</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content" style="height:950px;">
				<div class="tab-content">
					<div class="tab-pane active" id="story">
						<ul class="messages">
							<li class="message right appeared" ng-repeat="snippet in snippets">
								<div class="avatar"></div>
								<div class="text_wrapper">
									<div class="text">
										{{ snippet.content }}
									</div>
								</div>
							</li>
						</ul>
						</div>
						<div class="row ">
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-2">
									<input type="text" value="" placeholder="Continue the story" class="form-control text-center message_input"/>
								</div>
							</div>
						</div>
						<div class="text-center">
								<button class="btn btn-primary btn-fab btn-fab-mini btn-round send_message">
									<i class="material-icons">send</i>
								</button>
						</div>
					</div>
					
					<!-- <div class="tab-pane" id="queue">
						<p> Writer queue here </p>
					</div> -->
				</div>
			</div>
			
		</div>
		<!-- End Tabs on plain Card -->
	</div>
</div>
<!-- <div class="row story-container">
	<div class="col s4 left-nav">
		<div class="row pane-header">
			<div class="col offset-s1">
				<img src="img/robin.png" class="signin-logo circle responsive-image"/>
			</div>

			<div class="col offset-s1">
				<h5> {{ user.nickname }} </h5>
			</div>
		</div>

		<div class="row">
			<h5 class="col offset-s1"> Writers </h5>
		</div>

		<div ng-if="writers.length > 0" ng-repeat="writer in writers" class="row">
				<h6 class="col s2 offset-s1 center-align"> {{ writer.nickname }} </h6>
		</div>
	</div>


	<div class="col s8">
		<div class="row">
			<div ng-repeat="snippet in snippets" class="col s11">
				<p class="flow-text"> {{ snippet.content }} </p>
				<h7 class="col s1 offset-s8 grey-text"> {{ snippet.author.nickname }}</h7>
			</div>
		</div>

		<div class="row">
			<a ng-click="write()" class="waves-effect waves-light btn btn-dark col s2 offset-s2"> Let Me Write </a>
		</div>
	</div>

	<div id="write-pad" class="modal bottom-sheet">
		<div class="row">
			<h5 class="col s3 offset-s1"> And then...? </h5>
		</div>

		<div class="row">
			<div class="input-field col s9 offset-s1">
				<textarea ng-model="snippet.content" class="materialize-textarea"></textarea>
			</div>
			<div class="col s1">
				<a ng-click="submit()" class="btn-floating btn-large waves-effect waves-light white"><i class="material-icons black-text">send</i></a>
			</div>
		</div>
	</div>

	<div id="vote-pad" class="modal bottom-sheet">
		<div class="row">
			<h5 class="col s3 offset-s1"> Go no go...? </h5>
		</div>

		<div class="row">
			<h6 class="col s3 offset-s1"> {{ voteSnippet }} </h5>
		</div>

		<div class="vote-container row">
			<div class="col s1">
				<a ng-click="vote('U')" class="btn waves-effect waves-light white"><i class="material-icons black-text">thumb_up</i></a>
				<a ng-click="vote('D')" class="btn waves-effect waves-light white"><i class="material-icons black-text">thumb_down</i></a>
			</div>
		</div>
	</div> -->
